.create-note{
    max-width: 500px;
    width: 100%;
    margin: auto;
    color: #ffffff;
    padding: 30px;
    border-radius: 25px;
    margin-top: 82px;
    backdrop-filter: blur(50px) ;

  }
  .create-note h2{
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 10px 0;
  }
  .create-note .row{
    width: 100%;
    margin: 10px 0;
  }
  .create-note input,
  .create-note button{
    width: 100%;
    height: 40px;
    padding:  0 5px;
    border-radius: 15px;
  }
  .create-note label{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .create-note textarea{
    width: 100%;
    resize: none;
    padding: 0 5px;
    border-radius: 15px;
  }
  .create-note button{
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    background: #0B87EC;
    transition: 0.5s;
    border: 0px;
  }

  .create-note button:hover{
    background:  #001aff;
  }

  @media (max-width: 500px){
    .create-note{
      padding: 15px;
      border: 5px solid #ccc;
    }
  }